
#left-panel {
    background-color: #1e1e1e;
    color: white;
}

#panel-header {
    background-color: #2d2d2d;
    border-color: #444;
}

#resizer {
    background-color: #444;
}

#up-down-resizer {
    background-color: #444;
}

#circuit-image::-webkit-scrollbar-track {
  background: #666;
}

#circuit-image::-webkit-scrollbar-thumb {
  background-color: #333;
}

#circuit-image::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

#circuit-image::-webkit-scrollbar-corner {
  background: #666;
}

#top-panel {
    background-color: #1e1e1e;
    border-color: #444;
    color: #aaa;
}

#bottom-panel {
    color: #aaa;
}

#editor-header {
    background-color: #2d2d2d;
    color: #f0f0f0;
}

#editor-filename {
    background-color: #1e1e1e;
    border-color: #444;
}

#button-box {
    border-color:  #444;
}

button {
    color: #f0f0f0;
}

#code-buttons #playBtn {
    background-color: purple;
    border-color: purple;
}

#code-buttons #playBtn:hover:not(:disabled) {
    background-color: darkmagenta;
    border-color: darkmagenta;
}

.defBtn {
    background-color: #2d2d2d;
    border-color: #666;
}

.defBtn:hover:not(:disabled) {
    border-color: purple;
}

.defBtn:disabled {
    color: #555;
}

/* ----- Circuit Restyling ----- */

svg text {
    fill: #ddd;
}

svg line {
    stroke: #ddd;
    stroke-width: 2px;
}

.qc-gate-box {
    fill: rgb(184, 54, 244);
    stroke-width: 2px;
}

.qc-gate-label {
    fill: black;
}

.qc-gate-gauge-scale {
    stroke: black;
    stroke-width: 1px;
}

.qc-gate-x {
    stroke: rgb(184, 54, 244);
}

.qc-gate-link {
    stroke: rgb(184, 54, 244);
}

.qc-gate-link-c {
    stroke: #777;
}

.qc-gate-group[data-gate^="c"] {
    .qc-gate-box {
        fill: rgb(65, 65, 230);
    }

    .qc-gate-link {
        stroke: rgb(65, 65, 230);
    }

    .qc-gate-dot {
        fill: rgb(65, 65, 230);
        r: 7;
        stroke-width: 2px;
    }

    .qc-gate-not-line {
        stroke: black;
    }

    .qc-gate-not {
        fill: rgb(65, 65, 230);
        stroke-width: 2px;
    }
}

.qc-gate-group[data-gate=h] {
    .qc-gate-box {
        fill: red;
    }
}

.qc-gate-group[data-gate^="r"] {
    .qc-gate-box {
        fill: deeppink;
    }

    .qc-gate-link {
        stroke: deeppink;
    }

    .qc-gate-dot {
        fill: deeppink;
        r: 7;
        stroke-width: 2px;
    }

    .qc-gate-not-line {
        stroke: black;
    }
}

.qc-gate-group[data-gate^="u"] {
    .qc-gate-box {
        fill: deeppink;
    }

    .qc-gate-link {
        stroke: deeppink;
    }

    .qc-gate-dot {
        fill: deeppink;
        r: 7;
        stroke-width: 2px;
    }

    .qc-gate-not-line {
        stroke: black;
    }
}